# example
bircd/
bircd.*

# binary
ircserv

# vscode
.vscode/

# command creator
example.cpp
create_command

# C++
*.o
*.a

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# WSL
*:Zone.Identifier
*.Identifier
*:zone.identifier
*.identifier